.navbar-fixed-top.scrolled {
  background-color: #000000 !important;
  transition: background-color 200ms linear;
}
.navbar{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.container-fluid.homepic{
  height: 650px;
   overflow: hidden;
   display:
   inline-block;
   padding-left: 0px;
   padding-right: 0px;

}

.mail{
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;

}

.mail img{
  width: 25px;
  height: 25px;
}

.homeline{
  font-family: 'Alata', sans-serif;
  position: absolute;
  color: white;
  border-radius: 50px;
  border-width: 5px;
  text-size:15px;
  text-shadow: 3px 2px 2px #383838;
  border-style: dotted  solid dotted  solid;
  padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: homeline;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes homeline {
  from{top: 120%}
  to{top: 50%}
}
.himage {
          width: 100%;
          height: 100%;
               filter: brightness(50%);
               display: none;
               animation-name: zoom;
               animation-duration: 7s;
               animation-iteration-count: infinite;
               animation-timing-function: ease-in-out;

          }

          @keyframes zoom {
            0%{transform: scale(1.0); }
            50%{transform: scale(1.2);}
            100%{transform: scale(1.0);}

          }


a {
  color: white;
}

.mailicon {
  width: 20px;
  height: 20px;
}
.profile {
  position: relative;
  top: 100px;
  width: 100%;
  height: 500px;
}

.profilepic {
  width: 290px;
  height: 290px;
  border-radius: 60%;
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px;
  box-shadow: 5px 10px 18px #383838;
}

.dept {
  font-family: 'Bad Script', cursive;
  padding-left: 70px;
}

.pic {
  float: left;
}

.col-lg-6 {
  padding-left: 30px;
}

h1.hi {
  padding-top: 50px;
  font-size: 65px;
  font-family: 'Sacramento', cursive;
}

h2 {
  border-right: solid 5px rgba(255, 255, 255, .75);
  font-family: 'Playfair Display SC', serif;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: rgba(0, 0, 0, 1.5);
  padding-left: 30px;
}

h2 {
  animation: animated-text 6s steps(28, end) 1s infinite normal both,
    animated-cursor 1s steps(28, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 0, 0);
  }

  to {
    border-right-color: transparent;
  }
}

.profiledata {
  font-family: 'Neuton', serif;
  margin-top: 20px;
}

p {
  padding-top: 10px;
}

.hi {
  padding-bottom: 20px;
}

@media only screen and (max-width: 750px) {
  .profiledata {
    left: 50px;
  }
}

.user {
  padding-top: 20px;
  color: #0B2DAA;
  display: inline-block;
  margin-left: 20px;
  font-family: 'DM Serif Display', serif;
}

@media only screen and (max-width: 750px) {
  .user {
    margin-left: 50px;
  }
}

.check{
  font-family: 'Berkshire Swash', cursive;
}

.work {
  position:
  relative;
  top: 400px;
  padding-top: 15px;
  height: 500px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 300px;
}

@media (max-width: 1000px) {
  .work {
   top: 700px;
  }
}

.work h1 {
  margin-bottom: 60px;
}

.workpic {
  width: 100%;
  height: 400px;
  transition: 0.5s all ease-in-out;
  margin-bottom: 25px;
}

.picwork {
  overflow: hidden;
  margin-bottom: 20px;
}

.picwork:hover .workpic {
  transform: scale(1.5);
  filter: brightness(50%);
}

.footer {
  height: 100%;
  background-color: black;
  position: relative;
  margin-top: 700px;
}

.footer h1 {
  color: white;
  margin-top: 100px;
  margin-left: 50px;
font-family: 'Aclonica', sans-serif;
}

h5 {
  padding-top: 30px;
  padding-left: 50px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1000px) {
  .footer {
  top:600px;
  }
}
@media only screen and (max-width: 1000px) {
  .btn.btn-outline-light.btn-lg {
    margin-left: 100px;
  }
}

.btn.btn-outline-light.btn-lg {
  margin-top: 100px;
}

.skillimage {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: 50px;
  transition: 0.5s all ease-in-out;
  left: 50px;
}

.col-lg-3:hover .skillimage {
  filter: brightness(50%);
}

.footer h1 {
  padding-bottom: 50px;
}

.social-icon img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.social-icon {
  margin-top: 50px;
  display: block;
  text-align: center;
}

.social-icon a {
  align-items: center;
  margin-left: 50px;
}

button{
  font-family: 'Electrolize', sans-serif;
}

h1 .skill{
  font-family: 'Capriola', sans-serif;
}
